body {
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
    background-color: #F8F4E9;
}

.nav-wrapper {
    text-align: center;
    font-size: 18px;
    color:white;
}

nav {
    background-color: #E58266;
}    

h1 {
    text-align: center;
    color: #E58266;
}

#projects-title {
text-align: center;
}

.card {
    display: grid;
    justify-items: center;
}




