
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    
}

.nav-wrapper {
    text-align: center;
    font-size: 18px;
    color:white;
}

  

h1 {
    text-align: center;
    color: black;
    font-family: 'Square Peg', cursive;
    font-size: 150px;
}

/* Projects */

#projects-title {
text-align: center;
}

.card {
    display: grid;
    justify-items: center;
    
}

.card-title{
    color: #E58266;
}

.row {
    display: flex;
    
    margin-right: 400px;
}
.card-content {
    width: 80%;
    max-width: 320px;
    margin: auto;
}

/* Resume */

#text {
    font-size: 35px;
    color:#E58266;
    
}

#resume {
    font-size: 20px;
    margin:25px;
}

.contact-info {
    display:grid;
    justify-items: center;
}

 


