body {
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
    background-color: white;
    background-image: url(https://i.imgur.com/XL8hELR.jpg);
}

.nav-wrapper {
    text-align: center;
    font-size: 18px;
    color:white;
}

nav {
    background-color: #E58266;
}    

h1 {
    text-align: center;
    color: #E58266;
    font-family: 'Square Peg', cursive;
    font-size: 90px;
}



/* Projects */

#projects-title {
text-align: center;
}

.card {
    display: grid;
    justify-items: center;
}

.card-title{
    color: #E58266;
}

/* Resume */

#text {
    font-size: 35px;
    color:#E58266;
    
}

#resume {
    font-size: 20px;
    margin:25px;

}



